{:paths ["src"]
 :deps {org.postgresql/postgresql {:mvn/version "42.7.5"}}
 :aliases {:run-tests
           {:extra-paths ["test"]
            :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                         org.clojure/java.jdbc {:mvn/version "0.7.12"}}
            :main-opts ["-m" "kaocha.runner"]}
           :dev
           {:extra-paths ["dev" "test"]
            :extra-deps {org.clojure/tools.namespace {:mvn/version "1.5.0"}
                         org.clojure/java.jdbc {:mvn/version "0.7.12"}}
            :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
           :bench
           {:extra-paths ["bench"]
            :extra-deps {criterium/criterium {:mvn/version "0.4.6"}
                         org.clojure/data.csv {:mvn/version "1.1.0"}
                         com.joshuadavey/crockery {:mvn/version "0.3.0"}}}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.7" :git/sha "573711e"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}}}
